html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;700;900&display=swap");
@import "_wg.scss";

$font-stack: Urbanist, sans-serif;

@mixin page-font($size: 1.5rem,$weight:500){
	font-family: $font-stack;
	font-size: $size;
	font-weight: $weight;
	color: rgb(241, 248, 255);
}

body{
	height: 100vh;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 10px;

	p{
		@include page-font($weight: 900);
	}
	input[type="search"]{
		background: transparent;
		border: none;
		border-bottom: 1px solid gray;
		outline: none;
		text-align: right;
	}
}

.weather-main{
	display: flex;
	flex-direction: column;
	align-items: center;
	img{
		width: 90%;
		max-width: 400px;
	}
	p{
		margin-top: -70px;
		@include page-font($size:2rem,$weight:500);
	}
}

.weather-numbers{
	display: flex;
	flex-direction: column;
	align-items: center;

	@include page-font($size:1.3rem,$weight:500);
}

.weather-temp{
	padding-top: 80px;
	@include page-font($size:4.5rem,$weight:900);
}

